body{
    display: flex;
    flex-direction: column;

}

#search_row{
    display: flex;
    border: solid goldenrod 3px;
}

#logoImg{
    padding: 15px;
    height: 250px;
    width: 250px;
    align-items: center;
    margin-left: 575px;
}