
/* Define the size of the div element containing the map */
#mapContainer {
    height: 500px;
    width: 750px;
    background-color: grey;
    border: inset goldenrod 3px;
}

#map {
    height: 100%
}
/* Styling for an info pane that slides out from the left.
    Hidden by default */
    #panel {
        height: 494px;
        width: null;
        background-color: black;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        transition: all .2s ease-out;
        color: white;
        border: inset goldenrod 3px;
    }

    .open {
        width: 250px;
    }

/* Styling for place details */
.hero {
    width: 100%;
    height: auto;
    max-height: 166px;
    display: block;
}

.place,
p {
    font-family: 'open sans', arial, sans-serif;
    padding-left: 18px;
    padding-right: 18px;
}

.details {
    color: white;
}

.webUrl {
    text-decoration: none;
    color: goldenrod;
}