
#containerOutside {
    display: flex;
    flex-direction: column;
}

#recipeContainer {
    display: flex;
    flex-direction: column;
    padding: 0 40px 0 40px;
}

#title {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 3.25em;
    font-family: monospace;
    text-align: center;
}



#servTime {
    margin-bottom: 40px;
}

.info {
    font-weight: 700;
}

#picture {
   
    border-style: groove;
    border: solid darkgoldenrod  5px;
   width: 100%;
}

#picIngredients {
    display: flex;
    
}

#ingredients {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
    
}

#ingred {
    font-size: 1.75em;
    font-family: monospace;
    font-weight: 700;
    margin-bottom: 20px;
}

#instructions {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 1.4em;
    width: 80%;
    margin-bottom: 60px;
    border-bottom: 0 ; 
    
}

#list {

    font-size: 1.25em;
    font-weight: 400;
    list-style-type: circle ;
    border-bottom: 0 ;
}

#directions {
    font-family: monospace;
    font-weight: 700;
    margin-top: 20px;
}


/* -------------home page css-------------- */




#logoImg{
    display: flex;
    padding: 15px;
    height: 250px;
    width: 250px;
    align-items: center;
    margin: auto;
}


.icons{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}


h1{
    text-align: center;

}

#iconBtnsDiv {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    
   
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
 
   
    #title {
       font-size: 2.25em;
   }

    #picIngredients {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info {        
      width: fit-content;
    }
    #iconBtnsDiv {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;

    }
       
}

@media only screen and (min-widht: 481px) and (max-width: 768px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
    #picIngredients {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    #recipeContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .info {        
        width: fit-content;
      }
     #servings {
        display: flex;
        font-size: 1.3em;
        align-items: center;
    }    

    #cookTime {
        display: flex;
        font-size: 1.3em;
        align-items: center;
    }   

     .subTitle {
        width: fit-content;
        
    }

    #iconBtnsDiv {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        
       
    }
}

   



@media (min-width: 992px) {

    .navbar-expand-lg .navbar-collapse {
        display: inline-block !important;
        flex-wrap: wrap;
        max-width: 100%;
        
       
    }
 
    #servings {
    text-align: right !important;
    padding-right:120px;
    
    }

    #cookTime {
    text-align: left !important;
  
   }
   

}


@media only screen and (min-width: 1200px) {
    #picIngredients {
        display: flex;
      
    }
}
 


