body{
    display: flex;
    flex-direction: column;

}

#logoImgLink{
    margin: auto;
}

#search_row{
    display: flex;
    border: solid goldenrod 3px;
}

#logoImg{
    padding: 15px;
    height: 250px;
    width: 250px;
    align-items: center;
    margin: auto;
}

.d-flex{
    margin-right: 2px;

}

.navbar {
width: -webkit-fill-available;
padding-left: 5px;
}

#carouselDiv{
    display: flex;
    text-align: center;
}


.carousel-item{
    height: 400px;
    width: 100% !important;
    margin: auto;
    padding-top: 12px;
    overflow: hidden;

} 

.carousel-item img {
    height: 700px;
    width: 90%;
    margin: auto;
  }

#randomRecipeDiv{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

#iconBtnsDiv{
    display: flex;
}

.icons{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#randomRecipeBtn{
    border: solid goldenrod 3px !important;
    padding: 5px !important;
    margin-bottom: 5px !important;
}

.d-block{
    height: 600px !important;
    object-fit: cover;
}

#carouselExampleFade img{
    height: 400px;
}

h1{
    text-align: center;

}
#recipeImage {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
}







